extends layout

block content
    section#sideBar
        ul
            li
                img(src=src = '../../images/back.png', onclick="location.href='../../list'")
                h2 4.제어문
            li
                a(href='/list/chapter4/if') if문
            li
                a(href='/list/chapter4/for') for문
            li
                a(href='') while문
            li
                a(href='') switch문
    .Acc_content
        section#theory
            h2 프로그램의 흐름을 바꾸다.
            p
                | 제어문이란,
                em 프로그램의 흐름을 필요에 따라 변경하고 싶을 때
                |  사용하는 것입니다.
                br
                |               C언어 프로그램은 위에서부터 아래로 흘러가기 때문에
                br
                |               동일한 처리를 반복하거나, 연산 결과에 따라 동작을 중지하고 싶을 때 사용하는 것이 제어문입니다.
                br
                |               제어문을 사용하면 프로그램의 흐름을 되돌리거나 막을 수 있습니다.
                br
                br
                img(src='../images/control.png', alt='')
append script
    script(src='../javascripts/chapter4.js')