extends layout

block content
    section#sideBar
        ul
            li
                a.back(href='../../list')
                    img(src=src = '../../images/back.png')
                    | 목록
            li
                a.activeSide(href='../../list/chapter0')
                    h2 0. C 프로그래밍이란
            li
                a(href='/list/chapter0rule') 프로그램 작성 규칙
            li
                a(href='/list/chapter0quiz') 정리 문제!!

    .Acc_content
        section#theory
            h2 컴퓨터와 가까운 언어, C
            h3 강좌 소개
            p.tab
                | 본 강좌는 C언어를 학습하기 위한 기초적인 컨텐츠를 제공합니다.
                br
                |               간단한 글과 예제로 구성되어있으며, 글로 이해하기 힘든 내용은 동영상이 제공됩니다.
                |               동영상을 잘 따라 이해하면 코드를 어떻게 작성해야할지 감을 익힐 수 있을 것입니다.
                |               개념 소개 이후에 제공되는 실습 문제를 잘 풀어보세요.
                br
                br
            h3 커리큘럼 소개
            p.tab
                | 챕터는 총 9개로 나뉘며, chapter 0 부터 시작하여 차례로 학습하기를 권합니다.
                br
                br
            h3 C 언어
            p.tab
                | C언어는 다른 언어들과는 달리 교육적인 목적이나 전시적인 목적으로 만들어진 것이 아니라,
                | 실제 프로그램 제작을 쉽게 하기 위한 목적으로 만들어진 언어입니다.
                br
                br
            h4   특징
            .box
                | 1.
                b 간결하다
                |  : 꼭 필요한 기능만 들어있으며 표기법이 간결합니다.
                br
                |               2.
                b 효율적이다
                |  : C로 작성된 프로그램은 크기가 작고 실행 속도가 빠르며 메모리를 효율적으로 사용합니다.
                br
                |               3.
                b 이식성이 뛰어나다
                |  : 한번 작성된 프로그램을 다른 CPU를 가지는 하드웨어로 쉽게 이식할 수 있습니다.
                br
                |               4.
                b 배우기 어렵다
                |  : 예를 들면, 하드웨어를 제어하기위해 메모리 접근 방법인 포인터를 사용하는데 이를 잘못 사용하는 경우가 많습니다.
                br
                |               5.
                b 순차적이다
                |  : C로 작성된 프로그램은 위에서 부터 아래로 순서대로 실행되는 순차적 특징을 지닙니다.
            p
            br
            h4  프로그램 작성 과정
            p
                img.explainImg(src=src = '../../images/programProcess.jpg')
            p.tab
                | 컴파일러는 소스 프로그램을 기계어로 변환합니다.
                | 변환 도중 문법 오류 같은 것이 생기면 기계어로 변환할 수 없습니다.
                br
                |                 기계어로 변환된 프로그램을 "오브젝트 프로그램"이라 하며 소스 프로그램을 오브젝트 프로그램으로 바꾸는 과정을 "컴파일"이라 합니다.
                |                 컴파일 단계에서 발생하는 오류를 컴파일 시간 오류(compile time error)라 하며, 문법 규칙을 위반하였을 때 발생합니다.
                br
            br
            h4   프로그램 실행 시 발생하는 오류들
            .box
                | 1.
                b run time error
                |  :
                p.tab 실행시간오류로, 컴퓨터가 실행하지 못하는 연산을 시키는 경우나 메모리에 잘못 접근하는 경우에 발생합니다.
                |               2.
                b logical error
                |  :
                p.tab 논리적인 오류로, 문법은 틀리지 않았지만 알고리즘/논리적으로 정확하지 않은 경우입니다.
                |               3.
                b compile time error
                |  :
                p.tab 컴파일 시간 오류로, 문법 규칙 위반시 발생합니다. 어디가 틀렸는지 잘 찾아보세요.
                p
                p
append script
    script(src='../javascripts/chapter0.js')