extends layout

block content
    section#sideBar
        ul
            li
                img(src=src = '../../images/back.png', onclick="location.href='../../list'")
                h2 4. 제어문
            li
                a.activeSide(href='/list/chapter4/if') if문
            li
                a(href='/list/chapter4/for') for문
            li
                a(href='') while문
            li
                a(href='') switch문
    .Acc_content
        section#theory
            h2 프로그램의 흐름을 바꾸다.
            section#linkIcon
                h3 if문 : "만약 ~ 라면"
                ul
                    li
                        a(href='/list/chapter4/if') 개념
                    li
                        a(href='/list/chapter4/problem1') 문제1
                    li
                        a.activeIcon(href='/list/chapter4/problem2') 문제2
                    li
                        a(href='/list/chapter4/problem3') 문제3

            section#problem
                p
                    | Q. 2개의 피연산자를 받아서 +,-,*,/,% 연산을 하는 산술 계산기를 만들자.
                    br
                    |             연산이 불가능한 경우, "연산 오류입니다"라는 출력문을 띄운다.
                p Hint: 연산자 +,-,*,/,%는 문자형 데이터이다.
            hr
            p#ex
            h4 입력 예시
            p
                | 1 + 2
            h4 결과 예시
            p
                | 1 + 2 = 3
            h4 입력 예시
            p
                | 1 $ 3
            h4 결과 예시
            p
                | 연산 오류입니다.
            hr
            p 소스코드
            div#editor
                | #include &lt;stdio.h&gt;
                | <br/>
                | int main(){
                | <br/>
                |   printf("Hello World!");
                | <br/>
                |   return 0;
                | }
            section#resultSection
            button#submitButton(type='submit') 제출

append script
    script(src='../../javascripts/problem4-2.js')