extends layout

block content

    img#headImage(src='../images/banner.jpg', onclick="location.href='home.html'", alt='')

    .content
        section#notice(onclick="location.href = '/'")
            | 공지사항
        section#listPanel
            section.listP_Item
                h3 현황
            section.listP_Item
                h3 질문 게시판
            section.listP_Item
                h3 오답 노트


append script
    script(src='./javascripts/index.js')