doctype html
html
    head
        title Start Coding
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/stylesheets/style.css', media='screen')
        link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css')
body
    .container
        .topmenu
            section.topItem
                h1 Start Coding
            section.topItem
                ul.toplist
                    li
                        a(href='/') 홈
                    li
                        a(href='/') 공지
                    li
                        a(href='/login')#loginText 로그인
            header
                block content
            footer © 2016 App Project, 신수연 전수호 All rights reserved.

block script
    script(src='http://code.jquery.com/jquery.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js')

