extends layout

block content

    h1 Start Coding
        .content
            section#loginContent
                .login
                    h2  로그인
                    p.text
                        | id:
                        input#idInput(type='text', name='login_id', placeholder='이메일')
                    p.text
                        | password:
                        input#pwInput(type='password', name='login_pw', placeholder='비밀번호')
                    hr
                    p
                        button#loginButton(type='submit') 로그인
                        button#joinButton(type='submit') 회원가입



append script
    script(src='./javascripts/login.js')